<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="timepitch" value="10"/>
    <add key="picpath" value="\pics"/>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>